* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url("../public/images/heroBackground.jpg");
  background-size: cover;
  background-position: center;
}

.hero-container::before {
  content: ' ';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.65);
}

.hero-content {
  position: relative;
  margin: 2em;
}

.hero-intro {
  font-size: 1.25rem;
}

h1 {
  color: #005477;
  font-family: "Mulish", sans-serif;
  font-size:3.75rem; 
  font-weight: 800;
  margin: 0.5em 0;
}

.hero-body {
  font-size: 1.125rem;
  line-height: 2.2;
}