@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

.hero-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url("../public/images/heroBackground.jpg");
  background-size: cover;
  background-position: center;
}

.hero-container::before {
  content: ' ';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.65);
}

.hero-content {
  position: relative;
  margin: 2em;
}

.hero-intro {
  font-size: 1.25rem;
}

h1 {
  color: #005477;
  font-family: "Mulish", sans-serif;
  font-size:3.75rem; 
  font-weight: 800;
  margin: 0.75em 0;
}

.hero-body {
  font-size: 1.125rem;
  line-height: 2.2;
}

.about-container {
  background-color: #fff;
  width: 100%; 
}

h2 {
  color: #005477;
  font-family: 'Mulish', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  margin: 4rem 0; 
  text-align: center;
}

.about-img-container {
  display: grid;
  grid-template-columns: [img-start] 3fr [text-start] 2fr [img-end] 1fr [screen-end];
}

.about-img {
  border-radius: 50%;
  transform: translate(-15%);
  width: 100%;
  grid-column: img-start / img-end;
  grid-row: 1 / 2;
}

h3 {
  color: #005477;
  font-family: 'Mulish', sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  grid-column: text-start / screen-end;
  grid-row: 1 / 2;
  align-self: center;
  z-index: 100;
}

.about-content-container {
  margin: 2em;
}

.about-body {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2em;
}

.about-frameworks, .about-framework-list {
  color: #989898;
  font-family: 'Mulish', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  margin-bottom: 1em;
  text-align: center;
}

.about-framework-list {
  color: #005477;
  line-height: 1.6;
  margin-bottom: 2em; 
}

.resume-button {
  border: none;
  border-radius: 4px;
  background: #005477;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  margin: auto;
  padding: 1em 2em;
  
}

.resume-button:hover {
  background: #000;
}